﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using System.Collections;
@{

    //array
    string[] cars = {"Volvo", "BMW", "Ford", "Mazda"};

    //collection (arraylist)
    ArrayList words = new ArrayList(); 
      words.Add("Hello");
      words.Add("World");

    //hashtable
    Hashtable numberNames = new Hashtable();
    numberNames.Add(1,"One"); 
    numberNames.Add(2,"Two");
    numberNames.Add(3,"Three");

    //dictionary
    var cities = new Dictionary<string, string>(){
	    {"UK", "London, Manchester, Birmingham"},
	    {"USA", "Chicago, New York, Washington"},
	    {"India", "Mumbai, New Delhi, Pune"}
    };

    //list
    List<int> numbers = new List<int>() { 1, 2, 5, 7, 8, 10 };

}

<h1>Hello World Bro!</h1>
<p>This is the index page of the HelloWorld Controller</p>
<h2>Array</h2>
@foreach (var car in cars) {
    <div>@car</div>
}
<h2>Collection</h2>
@foreach (var word in words) {
    <div>@word</div>
}

<h2>Hashtable</h2>
@foreach(DictionaryEntry de in numberNames) {
    <div>Key: @de.Key, Value: @de.Value</div>
}

<h2>Dictionary</h2>
@foreach(var kvp in cities) {
    <div>Key: @kvp.Key, Value: @kvp.Value</div>
}

<h2>List</h2>
@foreach(var number in numbers) {
    <div>@number</div>
}