﻿@model onboarding3.Models.Article
@inject IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Details";
}

<h1>Article</h1>

<div>
    <h4>@Html.DisplayFor(model => model.title)</h4>
        <div>
            Created at: @Html.DisplayFor(model => model.created_at)
        </div>
        <div>
            Written by: @Html.DisplayFor(model => model.user.username)
        </div>
    <hr />
    <div>
        @Html.DisplayFor(model => model.body)
    </div>
</div>

<div>@if(HttpContextAccessor.HttpContext.Session.GetInt32("id") == Model.user.id)
{
    <span>
    <a asp-action="Edit" asp-route-id="@Model?.id">Edit</a> |
    <a asp-action="Delete" asp-route-id="@Model?.id">Delete</a> |
    </span>
}
    <a asp-action="Index">Back to Article</a>
</div>
