﻿@model IEnumerable<onboarding3.Models.Article>

@{
    ViewData["Title"] = "Index";
}

<h1>Article</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>


@foreach (var item in Model) {
    <div class="my-4">
        <h2 class="my-4">@Html.DisplayFor(modelItem => item.title)</h2>
        <div>
            Created at: @Html.DisplayFor(modelItem => item.created_at)
        </div>
        <div>
            Written by: @Html.DisplayFor(modelItem => item.user.username)
        </div>
        <div class="my-4">
            @Html.DisplayFor(modelItem => item.body)
        </div>
        <a asp-route-id="@item.id">Read More</a>
        
     </div>
}
